<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Daniel Almeida Gonçalves</title>
  <meta name="description" content="Daniel Almeida Gonçalves Website - Technology, life and other things in general">
  <meta name="robots" content="index,follow" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" type="text/css" class="ui" href="{{ url_for("static", filename="vendors/semantic/dist/semantic.min.css") }}">
  <link rel="stylesheet" type="text/css" class="ui" href="{{ url_for("static", filename="styles/global.css") }}">
  <link href="{{ url_for("static", filename="vendors/devicons/css/devicons.min.css") }}" rel="stylesheet">
  <link rel="icon" href="{{ url_for("static", filename="imgs/favicon.png") }}">
  <style>
  body{
      height: 100%;
      width: 100%;
      background-color: #111111;
      font-family: Courier, monospace;
      color: #ffffff;
      text-align: center;
      margin: 0;
      background-size: cover;
      background-position: center center;
    }
  </style>
</head>
<body style="background-image: url('{{ url_for("static", filename="imgs/giphy.gif") }}');">
  <div class="ui inverted vertical center aligned segment">

      <div class="ui container">

      </div>

      <div class="ui text container">
        <h1 class="ui inverted huge header">
          <i class="bomb icon"></i>
        </h1>
        <h2 class="ui sub header whoops">whooooops, something went wrong. Try go
            <a href="/" alt="Home" title="Home"><i class="home icon"></i></a>
              and pretend nothing happened!
        </h2>
      </div>

    </div>
</body>
</html>
